@tailwind base;
@tailwind components;
@tailwind utilities;

.cols-board {
  grid-template-columns: 24px repeat(8, 48px);
}

.grid-max-content {
  grid-template-rows: max-content;
}

.grid-piece-info {
  grid-template-columns: 73% 27%;
}
